@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
 
font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
background-image: url('../img/background.png');
background-repeat: no-repeat;
background-size: 100% auto;

}

.wrapper{

width: 1216px;
margin:0 auto;
  
}

.header{

height: 31px;
background-image: linear-gradient(#07508f, #074c88);

}

.conteiner{

width:560px;
height: 612px;
position:absolute;
left:50%;
top:50%;
margin:-280px 0 0 -306px;
background-color: rgba(0,0,0,0.55);
  
}

/*                         /*ИЛИ ТАК
.conteiner{
margin:0 auto;
margin-top:140px;

width:560px;
height: 612px;
  
background-color: rgba(0,0,0,0.55);
*/  



.main-menu{
 
font-size: 15px;
float: right;
margin-right: -210px;
 
}

.main-menu li:hover {
  
background-color: #4eabda;
height:31px; 

}

.navigation li{

float: left;
line-height: 30px;
 
}

.navigation a{

color:#eaebeb;
text-decoration: none;
margin:30px;

}

.current{

background-color:  #4eabda;
text-decoration: none;
height: 31px; /* если уберу высоту,почему внизу линия?*/

}

.active{

background-image:linear-gradient(#4faedb,#2e7ac4);

}


.active:hover{

background-image:linear-gradient(#4299d2,#074e8c);
border-right: 0.01px solid #ffffff; 
border-left: 0.01px solid #ffffff;
 
}

.line{

padding-right: 13px;

}

.flag span { 

float: right;
padding-right: 15px;
margin-left:-45px;
text-decoration: none;

}

.active span{

text-decoration: underline;

}

.logo {

padding: 25px 0 10px 213px;
 
}

hr{ 

width: 560px; 
display: inline-block;

}

.buttonup {

padding: 25px 0 0 145px;

}

.generalbutton{  

float: left;
background-image: url('../img/10.png');
color:#f3eeea;
font-size: 15px;

width: 274px;
height: 36px; 

}

.stripe{

padding: 60px 0 0 145px;

}

.datafield {

padding: 15px 0 0 140px;

}

.datafield input{

width:275px;
height: 35px;

}

.text{

color:#fff;
background-color:#000;  
padding-left: 10px;
font-size:15px;
border: none;
font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

.text:focus{


background-color:#1b5288;  

}

.vibrant input{

background-color:#1b5288; 

}

.vibrant {

padding-top: 5px;

}

.buttondown {

padding: 5px 0  0 160px;

}

.button{  

float: left;
margin: 25px 0  0 40px;

background-image:linear-gradient(#6bb8e7,#2e7ac4);
color:#f3eeea;
font-size: 15px;
text-decoration: none;
text-align: center;

border-radius: 4px;
width: 150px;
height: 36px; 

}

.button:before{

content: '';
display: inline-block;
padding: 23px 0 0 0;

}

.button:hover{

border-radius: 0px;
background-image:linear-gradient(#4299d2,#2e7ac4);

}

.checkbox span {

display: inline-block; 
padding: 25px 0 0 140px;
color: #fff;

}

.signup {

padding: 80px 0 0 120px;

}





