

* {

  padding:0;
  margin:0;

}

body {

  margin:0 auto;
  width:968px;
  padding:53px;
  
}



td {border: 15px solid black;
}

.col1 {
  width: 100px;
}
.col2 {
  width: 130px;
}
.col3 {
  width: 270px;
}

.col4 {
  width: 230px;
}

.row1 {
  height: 100px;
}
.row2 {
  height: 250px;
}
.row3 {
  height: 70px;
}
.row4 {
  height: 100px;
}
.row5 {
 
  height: 60px;
}


.yellow {
  background-color: #FFE955;
}
.black {
  background-color: #323332;
}
.red {
  background-color: #FE5437;
}
.blue {
  background-color: #043F7E;
}


